html, body {
  min-height: 100vh;
}


.header-color {
  background: rgb(149, 149, 241);  /* Super old browsers */
  background: -webkit-linear-gradient(to right,purple, gold, green);  /* Chrome & Safari (Old) */
  background: linear-gradient(to right, purple, gold, green); /* All the newest version of browsers */
}

.landing-grid {
  background: #833ab4;  /* Super old browsers */
  background: -webkit-linear-gradient(to right, purple, gold, green);  /* Chrome & Safari (Old) */
  background: linear-gradient(to right, purple, gold, green); /* All the newest version of browsers */
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.booking-grid {
  background: #833ab4;  /* Super old browsers */
  background: -webkit-linear-gradient(to right, purple, gold, green);  /* Chrome & Safari (Old) */
  background: linear-gradient(to right, purple, gold, green); /* All the newest version of browsers */
  text-align: center;
  position: absolute;
  /* top: 0;
  left: 0; */
  /* margin-top: 10rem;
  padding: 40rem; */
  width: 100%;
  height: 100%;
  justify-content: center; 
}



.security {
  width: 50%;
  height: 40%;
}

.tours-grid {
  display: flex;
  margin: 3rem;
  padding: 2rem;
}

/* Need something for the Responses message board page */

/* Contact page css */

.contact-body {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: left;
  justify-content: center;
  width: 89%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.btn {
  align-items: center;
  background-color:  grey;
  padding: 10;
}

/* Landing and About page css */

.tour-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}