html, body {
  min-height: 100vh;
}

.header-color {
  background: rgb(149, 149, 241);  /* Super old browsers */
  background: -webkit-linear-gradient(to right,purple, gold, green);  /* Chrome & Safari (Old) */
  background: linear-gradient(to right, purple, gold, green); /* All the newest version of browsers */
}