.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}


.six-hour-tour,
.eight-hour-tour {
    color: goldenrod;
    font-size: 3.25rem;
    text-shadow: 1px 1px white;
  }

  .six-hour-tour:hover,
  .eight-hour-tour:hover {
    color: yellow;
    font-size: 3.75rem;
    text-shadow: 1px 1px white;
  }


.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}