.contact-body {
  margin: auto;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  padding-top: 2em;
  background: #833ab4; /* Super old browsers */
  background: -webkit-linear-gradient(
    to right,
    purple,
    gold,
    green
  ); /* Chrome & Safari (Old) */
  background: linear-gradient(
    to right,
    purple,
    gold,
    green
  ); /* All the newest version of browsers */
}

.contact-grid {
  text-align: left;
  justify-content: center;
  width: 89%;
  height: 550px;
  background: #833ab4; /* Super old browsers */
  background: -webkit-linear-gradient(
    to right,
    purple,
    gold,
    green
  ); /* Chrome & Safari (Old) */
  background: linear-gradient(
    to right,
    purple,
    gold,
    green
  ); /* All the newest version of browsers */
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.btn {
  align-items: center;
  background-color: grey;
  padding: 0.4rem;
  margin: 05rem;
  justify-items: left;
  text-align: right;
}

.form-group {
  margin: .5rem;
  padding: .5rem;
  position: relative;
  justify-content: center;

}
